button {
  background-color: var(--b-man-purple);
  border: none;
  color: var(--bright-yellow);
  width: 75px;
  height: 45px;
  margin: 5px;
  border-radius: 7px;
  font-size: 1.5rem;
}

.container, .dash {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}